@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or global.css or App.css */

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .slick-slide {
    display: flex; /* Ensures proper display */
    justify-content: center; /* Center the content */
  }
  
  .slick-list {
    overflow: hidden; /* Hide the overflow of the slick list */
  }
  
  